# Dependencies
node_modules/

# Build output
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

# Coverage
coverage/
.nyc_output/

# Misc
*.pem
